/* Pongo la imagen de fondo de la web, le pido que no ser repita i cubra toda la web,un color para el texto y una fuente */
body{
background-image: url("fotos/suave.jpg");
background-repeat: no-repeat;
background-size: cover;
color:red;
font-family: "Arial" serif;
}
/*Centro el texto, i el width lo utilize para poder centrarlo */
h1 {
text-align: center;width:150%;
}
/*Color de texto, imagen de fondo, la altura maxima de la imagen/header, i centro texto*/
header{
color:white;
background-image: url("fotos/color.jpg");
height: 100px;
text-align: center;
}
/*Centro texto, pongo una fuente i le doy un tamaño*/
h2 {
text-align: center;
font-family:fantasy;
font-size: 30px
}
/*Justifico texto, pongo una fuente,le digo que se ajuste hacia la derecha i le pongo un tamaño*/
p {
text-align: justify;
font-family:Arial;
float:right;
font-size: 15px
}
/*Le digo que se ajuste hacia la izquierda, especifica la vora inicial, el color del borde, el color de fondo, le digo que su posición no sea fija y que se mueva hacia arriba */
nav {
float:left;
border-style: outset;
border-color: black;
background-color:#B0C4DE;
padding: 5px;
position:absolute;
top:120px
}
/*Su posición no sera fija, lo posicionamos hacia arriba, le ponemos borde y color y ponemos un color de fondo*/
aside {
position:absolute;
top:280px;
border-style: outset;
border-color: black;
background-color:#B0C4DE;
padding: 5px;
}
/*Se podra en verde si ponemos el cursor encima*/
nav li a:hover{color:green;}
/*Quitamos el formato de la lista */
nav ul {list-style: none;}
/*Quitamos el formato de la lista */
aside ul {list-style: none;}
/*Se podra en verde si ponemos el cursor encima*/
aside li a:hover{color:green;}

table{color:black}

#hi {text-align:center}

.tablas {width:100%}
/*color texto,margen hacia arriba,izquierda i derecha,le doy formato al borde y pongo una imagen de fondo*/
article{
color: black;
margin-top: 50px;
margin-left: 16%;
margin-right: 5%;
border-style: outset;
border-radius: 20px;
border-color: black;
padding: 1%;
background-image: url("fotos/raya.jpg");
}
/*Color texto, y centrar letra*/
footer{
		color:#DC143C;
		text-align:center}
/*Tamaño letra*/
h5 {font-size: 15px}
